.makeCent{
  text-align: center;
}

.conTitle{
  font-size: 72px;
  font-family: 'Roboto Condensed';
  letter-spacing: 3px;
  font-weight: 600;
  padding-top:50px;
}
.conTitle2{
  padding-bottom: 50px;
  font-style: italic;
  font-family: 'Lato', sans-serif;
}
.coLogos{
  width: 60px;
  height: 60px;

  margin-right: 20px;
  padding-right: 20px;
}
.num{
  text-align: left;
}
.email{
  text-align: left;
}
input::-webkit-input-placeholder {
color: #707070 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #707070 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #707070 !important;
}

input:-ms-input-placeholder {
color: #707070 !important;
}
textarea::-webkit-input-placeholder {
color: #707070 !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
color: #707070 !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
color: #707070 !important;
}

textarea:-ms-input-placeholder {
color: #707070 !important;
}

.setConMarg{
  width: 60vw !important;
  margin-left: 20vw;
  margin-right: 20vw;

}
.gone{
  display: none;

    text-align: center !important;
}
.there{

    display: block;

    text-align: center !important;
}
.there2{

    display: block;
    z-index: 1000 !important;
    text-align: center !important;
}


.home{
  height:140vh;
  overflow: hidden !important;

  /* background: url("main.jpg")  top center ;
  background-size:cover; */
}
.classAdder{
background-color: #a56b78;
}
.inmess{
  padding-top: 90px;
}

.wrapper {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.newbutt{
  background-color: white !important;
  color: black !important;
  font-weight: bold !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.td{
  text-decoration: none !important;
  margin-bottom: 40px;
  width: 10px;
  height: 50px;
}

.botcon{
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.botcon2{
  font-size: 13px;
  margin-bottom: 15px;
}
.inTitle{
  font-size: 90px;
font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-top: 90px;

  padding-left: 150px;
}
.hole {
  position: absolute;
  top: -1000px;
  left: -600px;
  width: 2500px;
  height: 2500px;
  box-shadow: 0 0 0 9999px rgba(107 , 120, 165, 1);
  border-radius: 100%;
  z-index: 1;

}
#kbbq{
  padding-top: 200px;
  position: relative;
  z-index: 120 !important;
}
.filler{

  height:75px;
  position: relative;
   z-index: 0 !important;
   background-color: #a56b78;

}

.nextColor{
  height:300px;
  position: relative;
   z-index: 99 !important;
   background-color: rgba(107 , 120, 165, 1);

}
.nextColor2{

  height:500px;
  position: relative;
   z-index: 99 !important;
   background-color: #a56b78;

}
.parallax {
    /* The image used */
    background-image: url("main.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inTitle2{
  font-size: 60px;
font-family: 'Roboto', sans-serif;

  padding-left: 150px;
  padding-bottom: 460px;
}




.mainBack{
  background-color: gainsboro;
}

.iglo{
  width: 30px;
  height: 30px;
  margin-left: 12px;
  margin-right: 12px;
}
.fblo{
  width: 30px;
  height: 30px;
  margin-left: 12px;
  margin-right: 12px;
}
.lilo{
  width: 30px;
  height: 30px;
  margin-left: 12px;
  margin-right: 12px;
}
.ghlo{
  width: 30px;
  height: 30px;
  margin-left: 12px;
  margin-right: 12px;
}
.ytlo{
  width: 30px;
  height: 30px;
  margin-left: 12px;
  margin-right: 12px;
}
